[Desktop Entry]
Type=Application
Name=Шарарам
Comment=Шарарам в стране Смешариков
Exec=/opt/shararam-linux/shararam
Path=/opt/shararam-linux
Icon=shararam
Categories=Game;
StartupWMClass=shararam-linux
Terminal=false
